@using ecqmValidation.Library.Models
@using ecqmValidation.Library.Helpers
@using ecqmValidation.UI.Services
@using Telerik.DataSource

<div class="card">
	<div class="card-header">
		<h5>Review Submitted Questions</h5>
	</div>
	<div class="card-body">
		<div class="row mb-3">
			<div class="col-md-12">
				<div class="table-responsive">
					<TelerikGrid Data="@MismatchQuestions" @ref="Grid"
								 Sortable="true"
								 Groupable="true"
								 Pageable="true"
								 SortMode="SortMode.Multiple"
								 Resizable="true"
								 Reorderable="true"
								 SelectionMode="@GridSelectionMode.Single"
								 @bind-PageSize="@PageSize"
								 @bind-Page="@CurrentPage"
								 OnRowDoubleClick="@OnRowDoubleClickHandler">

						<GridToolBarTemplate>
							<GridUniversalSearchBox OnSearch="@OnSearch" T="MismatchQuestionModel" Fields="@SearchBoxFields" />
							<TelerikCheckBox @bind-Value="ShowApproved" OnChange="RefreshData" />
							<label>Show Approved</label>
							<TelerikCheckBox @bind-Value="ShowCancelled" OnChange="RefreshData" Class="ms-2" />
							<label>Show Cancelled</label>
							<span class="k-toolbar-spacer" />

							<GridCommandButton Icon="@FontIcon.Rotate" OnClick="@RefreshData">Refresh</GridCommandButton>
							<GridCommandButton Command="ExcelExport" Icon="@FontIcon.FileExcel">Export to Excel</GridCommandButton>
							<label class="k-checkbox-label"><TelerikCheckBox @bind-Value="@ExportAllPages" />Export All Pages</label>
						</GridToolBarTemplate>

						<GridSettings>
							<GridPagerSettings InputType="PagerInputType.Input"
											   PageSizes="@PageSizesList"
											   ButtonCount="5"
											   Adaptive="true">
							</GridPagerSettings>
						</GridSettings>

						<GridExport>
							<GridExcelExport FileName="telerik-grid-export" AllPages="@ExportAllPages" />
						</GridExport>

						<GridColumns>
							<GridColumn Field="QuestionID" Visible="false" />
							<GridColumn Field="InstanceKey" Title="ACN" Width="130px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )" />
							<GridColumn Field="MeasureName" Title="Measure" Width="180px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )">
								<Template>
									@{
										MismatchQuestionModel item = context as MismatchQuestionModel;
										<div class="fw-bold">@item.MeasureName</div>
										<div>
											@item.CaseDateStart?.ToString("M/dd/yyyy") - @item.CaseDateEnd?.ToString("M/dd/yyyy")
										</div>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="CaseDateStart" Visible="false" />
							<GridColumn Field="CaseDateEnd" Visible="false" />
							<GridColumn Field="ElementNames" Title="Element" Width="155px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )">
								<Template>
									@{
										MismatchQuestionModel item = context as MismatchQuestionModel;
										<div class="fw-bold">@item.ElementNames</div>
										<div>
											CDAC Found: <strong>@item.CDACFoundYesNo</strong>
										</div>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="CDACFoundYesNo" Visible="false" />
							<GridColumn Field="Question" Title="Question" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )">
								<Template>
									@{
										MismatchQuestionModel item = context as MismatchQuestionModel;
										<fieldset disabled>
											<TelerikTextArea @bind-Value="item.Question" AutoSize="true" />
										</fieldset>
									}
								</Template>
							</GridColumn>
							<GridColumn Field="QuestionStatus" Title="Status" Width="100px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )" />
							<GridColumn Field="SubmittedByName" Title="Submitted By" Width="130px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )" />
							<GridColumn Field="SubmittedDate" Title="Date Submitted" DisplayFormat="{0:MM/dd/yyyy}" Width="130px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )" />
							<GridColumn Field="UpdatedByName" Title="Reviewed By" Width="130px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )" Visible="ShowUpdates" />
							<GridColumn Field="UpdatedDate" Title="Date Reviewed" DisplayFormat="{0:MM/dd/yyyy}" Width="130px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )" Visible="ShowUpdates" />

							<GridCommandColumn Width="130px" OnCellRender="@( (GridCellRenderEventArgs e) => e.Class = "vertical-aligned-cell" )">
								<GridCommandButton OnClick="ApproveQuestion" Icon="@FontIcon.Check" Title="Approve Question" Class="tooltip-target" />
								<GridCommandButton OnClick="EditQuestion" Icon="@FontIcon.Pencil" Title="Edit Question" Class="tooltip-target" />
								<GridCommandButton OnClick="CancelQuestion" Icon="@FontIcon.Cancel" Title="Cancel Question" Class="tooltip-target" />
							</GridCommandColumn>
						</GridColumns>
					</TelerikGrid>
				</div>
			</div>
		</div>
	</div>
</div>
<TelerikLoaderContainer Visible="@LoaderContainerVisible" />

@if (EditQuestionWindowVisible)
{
	<QuestionForm MismatchQuestion="SelectedQuestion" OnQuestionFormClose="OnQuestionFormClose"
			  Measures="Measures" Elements="Elements" />
}

<TelerikTooltip TargetSelector=".tooltip-target" />

@code {
	[CascadingParameter] protected NotificationManager NotificationManager { get; set; }

	[Inject] AppSettings AppSettings { get; set; }
	[Inject] ecqmValidationService ecqmValidationService { get; set; }

	protected IEnumerable<MismatchQuestionModel> MismatchQuestions = Enumerable.Empty<MismatchQuestionModel>();
	[Parameter] public IEnumerable<MeasureModel> Measures { get; set; }
	[Parameter] public IEnumerable<ElementModel> Elements { get; set; }

	protected MismatchQuestionModel SelectedQuestion { get; set; }

	protected bool ExportAllPages { get; set; }
	protected int PageSize { get; set; } = 15;
	protected int CurrentPage { get; set; } = 1;
	protected List<int?> PageSizesList = new List<int?>() { 5, 10, 15, 20, 25, 30, 50, 100 };

	protected bool LoaderContainerVisible { get; set; }
	protected bool EditQuestionWindowVisible { get; set; }

	protected bool ShowApproved { get; set; }
	protected bool ShowCancelled { get; set; }
	protected bool ShowUpdates => ShowApproved || ShowCancelled;

	protected override async Task OnInitializedAsync()
	{
		await RefreshData();
		await base.OnInitializedAsync();
	}
	protected async Task OnRowDoubleClickHandler(GridRowClickEventArgs args)
	{
		var question = (MismatchQuestionModel)args.Item;
		await OpenEditQuestionForm(question.QuestionID);
	}
	protected async Task EditQuestion(GridCommandEventArgs args)
	{
		var question = (MismatchQuestionModel)args.Item;
		await OpenEditQuestionForm(question.QuestionID);
	}
	protected async Task OpenEditQuestionForm(int questionID)
	{
		await GetSelectedQuestionByID(questionID);

		if (SelectedQuestion is not null)
		{
			SelectedQuestion.IsReview = true;
			SelectedQuestion.UpdatedByID = AppSettings.ActiveUser.UserID;

			EditQuestionWindowVisible = true;
		}
		else
		{
			await InvokeAsync(() => NotificationManager.Notification.Show($"Unable to load question with QuestionID {questionID}.", ThemeConstants.Notification.ThemeColor.Error, 0));
		}
	}
	protected async Task ApproveQuestion(GridCommandEventArgs args)
	{
		var question = (MismatchQuestionModel)args.Item;
		await UpdateQuestionStatus(question.QuestionID, QAStatus.Approved);
	}
	protected async Task CancelQuestion(GridCommandEventArgs args)
	{
		var question = (MismatchQuestionModel)args.Item;
		await UpdateQuestionStatus(question.QuestionID, QAStatus.Cancelled);
	}
	protected async Task UpdateQuestionStatus(int questionID, QAStatus qAStatus)
	{
		if (questionID > 0)
		{
			SelectedQuestion = MismatchQuestions.FirstOrDefault(x => x.QuestionID == questionID);
			SelectedQuestion.QuestionStatus = qAStatus;
			SelectedQuestion.UpdatedByID = AppSettings.ActiveUser.UserID;
			try
			{
				int result = await ecqmValidationService.UpdateQuestionStatus(SelectedQuestion);
				if (result > 0)
				{
					await InvokeAsync(() => NotificationManager.Notification.Show($"Question status updated to {qAStatus}.", ThemeConstants.Notification.ThemeColor.Success, 5000));
				}
			}
			catch (Exception ex)
			{
				await InvokeAsync(() => NotificationManager.Notification.Show($"Error: {ex.Message}", ThemeConstants.Notification.ThemeColor.Error, 0));
			}
		}
	}
	protected async Task GetSelectedQuestionByID(int questionID)
	{
		try
		{
			LoaderContainerVisible = true;
			SelectedQuestion = await ecqmValidationService.GetUnansweredQuestionByID(questionID);
		}
		catch (Exception ex)
		{
			await InvokeAsync(() => NotificationManager.Notification.Show($"Error: {ex.Message}", ThemeConstants.Notification.ThemeColor.Error, 0));
		}
		finally
		{
			LoaderContainerVisible = false;
		}
	}
	protected async Task RefreshData()
	{
		try
		{
			LoaderContainerVisible = true;
			MismatchQuestions = await ecqmValidationService.GetUnansweredQuestionsForReview(ShowApproved, ShowCancelled);
		}
		catch (Exception ex)
		{
			await InvokeAsync(() => NotificationManager.Notification.Show($"Error: {ex.Message}", ThemeConstants.Notification.ThemeColor.Error, 0));
		}
		finally
		{
			LoaderContainerVisible = false;
		}
	}
	protected async Task OnQuestionFormClose()
	{
		await RefreshData();
		EditQuestionWindowVisible = false;
	}
	#region Universal Search Box
	public TelerikGrid<MismatchQuestionModel> Grid { get; set; }
	public string SearchBoxValue { get; set; }
	public List<string> SearchBoxFields { get; set; } = new List<string>
				{ "InstanceKey", "MeasureName", "CaseDateStart", "CaseDateEnd", "ElementNames", "CDACFoundYesNo", "Question", "QuestionStatus", "SubmittedByName", "SubmittedDate", "UpdatedByName", "UpdatedDate" };
	private async Task OnSearch(CompositeFilterDescriptor value)
	{
		await SetGridSearchBoxFilters(value);
	}
	public async Task SetGridSearchBoxFilters(CompositeFilterDescriptor searchDescriptors)
	{
		var state = Grid.GetState();

		state.SearchFilter = searchDescriptors;

		await Grid.SetStateAsync(state);
	}
	#endregion
}
